@font-face {
  src: url("../fonts/ebrima.ttf");
  src: local("ebrima"), local("ebrima"), url("../fonts/ebrima.ttf") format("truetype"); }

/* line 5, scss/main.css */
* {
  font-family: "Ebrima";
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 11, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 15, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 20, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 23, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 26, scss/main.css */
.col-3 {
  width: 25%; }

/* line 29, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 32, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 35, scss/main.css */
.col-6 {
  width: 50%; }

/* line 38, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 41, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 44, scss/main.css */
.col-9 {
  width: 75%; }

/* line 47, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 50, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 53, scss/main.css */
.col-12 {
  width: 100%; }

/* line 56, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 10px; }

/* line 61, scss/main.css */
header {
  z-index: 999;
  color: white;
  height: 50px;
  display: block;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%; }

/* line 69, scss/main.css */
header nav {
  padding: 10px 35px; }

/* line 71, scss/main.css */
header .logo {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin: -5px -90px;
  margin: 0; }

@media (min-width: 1400px) {
  /* line 78, scss/main.css */
  header .logo {
    margin: -5px -90px; } }

/* line 80, scss/main.css */
header .menu {
  display: none;
  margin: 8px 0;
  letter-spacing: 0.2px;
  font-size: 16px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  padding-top: 2px; }

@media (min-width: 900px) {
  /* line 89, scss/main.css */
  header .menu {
    border: none;
    list-style-type: none;
    padding: 0;
    float: right;
    display: inline-block; } }

/* line 95, scss/main.css */
header .menu li {
  padding-right: 20px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 10px 0;
  letter-spacing: 0.2px;
  font-size: 16px;
  padding: 10px 0; }

@media (min-width: 900px) {
  /* line 105, scss/main.css */
  header .menu li {
    padding: 0;
    border: none;
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    margin: 0;
    display: inline-block;
    padding-right: 5px; } }

/* line 113, scss/main.css */
header .menu :nth-child(7) {
  display: none; }

@media (min-width: 900px) {
  /* line 116, scss/main.css */
  header .menu :nth-child(7) {
    padding-left: 20px;
    padding-right: 10px;
    color: #66ceeb;
    font-weight: bold;
    display: inline-block; } }

/* line 122, scss/main.css */
header .menu :nth-child(8) {
  display: none; }

@media (min-width: 900px) {
  /* line 125, scss/main.css */
  header .menu :nth-child(8) {
    padding-left: 20px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block; } }

/* line 131, scss/main.css */
header .menu li:hover {
  color: #66ceeb;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 500ms; }

@media (min-width: 900px) {
  /* line 137, scss/main.css */
  header .menu li:hover {
    color: white;
    background: none; } }

/* line 140, scss/main.css */
header .menu :nth-child(7):hover,
header .menu :nth-child(8):hover {
  color: #66ceeb; }

/* line 143, scss/main.css */
header .sticky {
  position: fixed;
  width: 100%;
  background-color: #118ded;
  top: 0;
  height: 70px;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.35);
  transition: 0.4s;
  display: inline-block; }

@media (min-width: 900px) {
  /* line 155, scss/main.css */
  header .sticky {
    height: 50px; } }

/* line 157, scss/main.css */
header .border-menu {
  width: 50.2%;
  height: 1%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  right: 0;
  float: right;
  margin-top: -0.6em; }

/* line 165, scss/main.css */
.hamburger {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 30px; }

@media (min-width: 900px) {
  /* line 172, scss/main.css */
  .hamburger {
    display: none; } }

/* line 175, scss/main.css */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s; }

/* line 184, scss/main.css */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

/* line 188, scss/main.css */
.change .bar2 {
  opacity: 0; }

/* line 191, scss/main.css */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

@media only screen and (max-width: 768px) {
  /* line 196, scss/main.css */
  .col-1 {
    width: 100%; }
  /* line 198, scss/main.css */
  .col-2 {
    width: 100%; }
  /* line 200, scss/main.css */
  .col-3 {
    width: 100%; }
  /* line 202, scss/main.css */
  .col-4 {
    width: 100%; }
  /* line 204, scss/main.css */
  .col-5 {
    width: 100%; }
  /* line 206, scss/main.css */
  .col-6 {
    width: 100%; }
  /* line 208, scss/main.css */
  .col-7 {
    width: 100%; }
  /* line 210, scss/main.css */
  .col-8 {
    width: 100%; }
  /* line 212, scss/main.css */
  .col-9 {
    width: 100%; }
  /* line 214, scss/main.css */
  .col-10 {
    width: 100%; }
  /* line 216, scss/main.css */
  .col-11 {
    width: 100%; }
  /* line 218, scss/main.css */
  .col-12 {
    width: 100%; }
  /* line 220, scss/main.css */
  [class*="col-"] {
    width: 100%; } }

/* line 223, scss/main.css */
.section-one .left-panel {
  display: none; }

@media (min-width: 1000px) {
  /* line 226, scss/main.css */
  .section-one .left-panel {
    display: inline-block;
    background-color: #118ded;
    height: 100vh;
    width: 27%;
    position: relative;
    -webkit-box-shadow: 10px 4px 39px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 4px 39px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 4px 39px 10px rgba(0, 0, 0, 0.15);
    z-index: 100; } }

@media (min-width: 1000px) {
  /* line 237, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 6.77em;
    font-weight: bold;
    position: relative;
    margin-top: 4.7em;
    color: #66ceeb;
    width: 100%; } }

@media (min-width: 1100px) {
  /* line 245, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 7.3em;
    margin-top: 4.4em; } }

@media (min-width: 1200px) {
  /* line 249, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 8em;
    margin-top: 3.8em; } }

@media (min-width: 1300px) {
  /* line 253, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 8.5em;
    margin-top: 3.6em; } }

@media (min-width: 1400px) {
  /* line 257, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 9.5em;
    margin-top: 3em; } }

@media (min-width: 1500px) {
  /* line 261, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 10.5em;
    margin-top: 2.5em; } }

@media (min-width: 1700px) {
  /* line 265, scss/main.css */
  .section-one .left-panel .big-logo {
    font-size: 11.77em;
    margin-top: 1.9em; } }

@media (min-width: 1000px) {
  /* line 269, scss/main.css */
  .section-one .left-panel .big-logo :first-child {
    float: right;
    margin-right: -0.15em; } }

@media (min-width: 1200px) {
  /* line 273, scss/main.css */
  .section-one .left-panel .big-logo :first-child {
    margin-right: -0.14em; } }

@media (min-width: 1300px) {
  /* line 276, scss/main.css */
  .section-one .left-panel .big-logo :first-child {
    margin-right: -0.12em; } }

@media (min-width: 1500px) {
  /* line 279, scss/main.css */
  .section-one .left-panel .big-logo :first-child {
    margin-right: -0.11em; } }

@media (min-width: 1000px) {
  /* line 282, scss/main.css */
  .section-one .left-panel .big-logo :nth-child(2) {
    margin-top: -0.35em;
    margin-left: -0.16em; } }

@media (min-width: 1500px) {
  /* line 286, scss/main.css */
  .section-one .left-panel .big-logo :nth-child(2) {
    margin-left: -0.11em; } }

/* line 289, scss/main.css */
.section-one .down-arrow {
  display: none; }

@media (min-width: 1300px) {
  /* line 292, scss/main.css */
  .section-one .down-arrow {
    transform: rotate(90deg);
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    color: #d8bba3;
    display: inline-block;
    float: left;
    margin: -4.5em 0 0 calc(50% + 5em);
    font-size: 25px; } }

/* line 304, scss/main.css */
.section-one .down-arrow p {
  color: white;
  padding: calc(50% - 20px) calc(50% - 20px); }

/* line 308, scss/main.css */
.section-one .down-arrow:hover {
  transition: 500ms;
  transform: scale(1.2, 1.2) rotate(90deg);
  cursor: pointer;
  border: none;
  background: white; }

/* line 314, scss/main.css */
.section-one .down-arrow:hover p {
  color: #118ded; }

/* line 317, scss/main.css */
.section-one .down-arrow-line {
  display: none; }

@media (min-width: 1300px) {
  /* line 320, scss/main.css */
  .section-one .down-arrow-line {
    display: inline-block;
    border-right: 0.5px solid white;
    width: 2%;
    height: 19.8%;
    float: right;
    margin-right: calc(50% - 152px);
    margin-top: -35px;
    opacity: 0.8;
    overflow: hidden; } }

@media (min-width: 1800px) {
  /* line 331, scss/main.css */
  .section-one .down-arrow-line {
    height: 21.9%; } }

/* line 334, scss/main.css */
.section-one .right-panel {
  height: 100vh;
  width: 100%;
  background-image: url("../photos/session 1/right-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
  background-position-x: 100%;
  position: relative; }

@media (min-width: 1000px) {
  /* line 344, scss/main.css */
  .section-one .right-panel {
    width: 73%; } }

/* line 346, scss/main.css */
.section-one .right-panel .main-text {
  color: white;
  position: relative;
  z-index: 900;
  margin-top: 17em;
  font-size: 18px;
  display: inline-block;
  text-align: right;
  float: right;
  letter-spacing: 0.5px; }

@media (min-width: 450px) {
  /* line 357, scss/main.css */
  .section-one .right-panel .main-text {
    font-size: 22px; } }

@media (min-width: 1000px) {
  /* line 360, scss/main.css */
  .section-one .right-panel .main-text {
    float: none;
    font-size: 27px;
    margin-left: 14em; } }

/* line 364, scss/main.css */
.section-one .right-panel h2 {
  position: relative;
  z-index: 900;
  color: white;
  font-size: 25px;
  margin-top: 1em;
  margin-left: 0em;
  text-align: right;
  float: right; }

@media (min-width: 600px) {
  /* line 374, scss/main.css */
  .section-one .right-panel h2 {
    font-size: 30px; } }

@media (min-width: 1000px) {
  /* line 377, scss/main.css */
  .section-one .right-panel h2 {
    float: none;
    font-size: 32px;
    margin-top: 0.5em;
    margin-left: 0;
    text-align: left; } }

/* line 383, scss/main.css */
.section-one .right-panel .right-arrow-line {
  border-bottom: 0.5px solid white;
  width: 60%;
  height: 1%;
  opacity: 0.8;
  left: 0;
  position: relative;
  margin: 0.4em -0.3em 0 0;
  float: right; }

@media (min-width: 1000px) {
  /* line 393, scss/main.css */
  .section-one .right-panel .right-arrow-line {
    left: -4.5em;
    margin: 0.4em 0 0 0;
    float: none; } }

/* line 398, scss/main.css */
.section-one .right-panel:before {
  content: '';
  background: #118ded;
  background: -moz-linear-gradient(45deg, #118ded 0%, #092059 100%);
  background: -webkit-linear-gradient(45deg, #118ded 0%, #092059 100%);
  background: linear-gradient(45deg, #118ded 0%, #092059 100%);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0; }

/* line 411, scss/main.css */
.section-one .bg-gradient:before {
  content: '';
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 78%, rgba(125, 185, 232, 0.09) 85%, #2373c3 100%);
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 78%, rgba(125, 185, 232, 0.09) 85%, #2373c3 100%);
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 78%, rgba(125, 185, 232, 0.09) 85%, #2373c3 100%);
  height: 100%;
  width: 100%;
  opacity: 0.85;
  position: absolute;
  bottom: 0;
  left: 0; }

/* line 423, scss/main.css */
.section-two .section-two-header {
  background: #171f3e; }

@media (min-width: 768px) {
  /* line 426, scss/main.css */
  .section-two .section-two-header {
    height: 610px; } }

/* line 428, scss/main.css */
.section-two .section-two-header p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-left: 8px solid #1e93ee;
  padding-left: 15px;
  margin: 6.5em calc(50% - 90px);
  letter-spacing: 1px; }

/* line 437, scss/main.css */
.section-two .top-left-photo {
  background-image: url("../photos/session 2/top-left-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px; }

/* line 443, scss/main.css */
.section-two .top-right-text,
.section-two .center-text,
.section-two .center-right-text,
.section-two .bottom-left-text {
  font-size: 20px;
  line-height: 1.2;
  text-align: center; }

@media (min-width: 768px) {
  /* line 451, scss/main.css */
  .section-two .top-right-text,
  .section-two .center-text,
  .section-two .center-right-text,
  .section-two .bottom-left-text {
    height: 390px;
    text-align: justify; } }

/* line 457, scss/main.css */
.section-two .top-right-text p,
.section-two .center-text p,
.section-two .center-right-text p,
.section-two .bottom-left-text p {
  color: #171f3e;
  margin: 1em 1em 0 1em; }

@media (min-width: 768px) {
  /* line 464, scss/main.css */
  .section-two .top-right-text p,
  .section-two .center-text p,
  .section-two .center-right-text p,
  .section-two .bottom-left-text p {
    margin: 12em 1em 0 1em; } }

/* line 470, scss/main.css */
.section-two .top-right-text p {
  margin: 1em 1em 0 1em; }

@media (min-width: 768px) {
  /* line 473, scss/main.css */
  .section-two .top-right-text p {
    margin: 8em 1em 0 1em; } }

/* line 476, scss/main.css */
.section-two .center-right-photo {
  background-image: url("../photos/session 2/center-right-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px; }

/* line 482, scss/main.css */
.section-two .center-text p {
  margin: 1em 1em 0 1em; }

/* line 485, scss/main.css */
.section-two .center-left-photo {
  width: 100%;
  float: right;
  background-image: url("../photos/session 2/center-left-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; }

@media (min-width: 768px) {
  /* line 493, scss/main.css */
  .section-two .center-left-photo {
    width: 55%; } }

/* line 496, scss/main.css */
.section-two .center-right-text,
.section-two .bottom-left-text {
  float: right;
  height: 200px; }

/* line 500, scss/main.css */
.section-two .center-right-text p,
.section-two .bottom-left-text p {
  margin: 1.5em 1em 0 1em; }

@media (min-width: 450px) {
  /* line 504, scss/main.css */
  .section-two .center-right-text p,
  .section-two .bottom-left-text p {
    margin: 2.5em 1em 0 1em; } }

@media (min-width: 768px) {
  /* line 508, scss/main.css */
  .section-two .center-right-text p,
  .section-two .bottom-left-text p {
    margin: 1em 1em 0 1em; } }

/* line 512, scss/main.css */
.section-two .bottom-left-text {
  width: 100%; }

@media (min-width: 768px) {
  /* line 515, scss/main.css */
  .section-two .bottom-left-text {
    width: 55%; } }

/* line 517, scss/main.css */
.section-two .bottom-left-text p {
  margin: 1.5em 1em 0 1em; }

@media (min-width: 450px) {
  /* line 520, scss/main.css */
  .section-two .bottom-left-text p {
    margin: 2.5em 1em 0 1em; } }

@media (min-width: 768px) {
  /* line 523, scss/main.css */
  .section-two .bottom-left-text p {
    margin: 2em 6em 0 6em; } }

/* line 526, scss/main.css */
.section-two .bottom-right-photo {
  float: right;
  background-image: url("../photos/session 2/bottom-right-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; }

/* line 533, scss/main.css */
.section-two .bottom-center-text {
  max-width: 100%;
  background: #118ded;
  right: 0; }

@media (min-width: 768px) {
  /* line 538, scss/main.css */
  .section-two .bottom-center-text {
    position: absolute;
    margin-top: 73.75em;
    height: 265px;
    max-width: 73.5%; } }

/* line 543, scss/main.css */
.section-two .bottom-center-text .bulb {
  margin: 3em 0em 0 calc(50% - 3em);
  background-image: url("../photos/session 2/bulb.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 155px;
  width: 86px;
  display: inline-block; }

@media (min-width: 768px) {
  /* line 552, scss/main.css */
  .section-two .bottom-center-text .bulb {
    margin: 3em 0 0 2em; } }

/* line 554, scss/main.css */
.section-two .bottom-center-text p {
  display: inline-block;
  margin: 1em 1em 2em 1em;
  position: relative;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: white; }

@media (min-width: 768px) {
  /* line 563, scss/main.css */
  .section-two .bottom-center-text p {
    text-align: justify;
    margin: 0px 26em 0 8em;
    top: -6.5em; } }

/* line 568, scss/main.css */
.section-number {
  display: none; }

@media (min-width: 900px) {
  /* line 571, scss/main.css */
  .section-number {
    list-style-type: none;
    display: inline-block; } }

/* line 575, scss/main.css */
.section-numbers {
  list-style-type: none;
  display: inline-block; }

/* line 578, scss/main.css */
.section-numbers li {
  margin: 0 0 10px calc(50% - 12px);
  height: 100vh;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 1px solid #cccccc; }

/* line 585, scss/main.css */
.section-numbers .number {
  text-align: center;
  width: 41px;
  height: 40px;
  border: 1px solid #1e93ee;
  border-radius: 100%;
  display: inline-block;
  font-size: 20px;
  color: #1e93ee;
  padding: calc(50% - 35px) calc(50% - 25px);
  margin: 125px 0px 10px calc(50% - 28px); }

@media (min-width: 768px) {
  /* line 598, scss/main.css */
  .section-three {
    margin-top: 16.5em; } }

/* line 601, scss/main.css */
.section-three .section-number {
  display: none; }

@media (min-width: 768px) {
  /* line 604, scss/main.css */
  .section-three .section-number {
    margin: 0.5em 0 0 0;
    position: relative;
    z-index: 10;
    display: inline-block; } }

/* line 609, scss/main.css */
.section-three .section-number .number {
  margin: 0px 0px 10px calc(50% - 28px); }

/* line 612, scss/main.css */
.section-three .team-description {
  background: #171f3e;
  margin: -2px 0 0 0;
  left: 0;
  width: 100%;
  color: #118ded; }

@media (min-width: 768px) {
  /* line 619, scss/main.css */
  .section-three .team-description {
    height: 500px;
    margin: 0;
    width: 62%;
    position: absolute; } }

/* line 624, scss/main.css */
.section-three .team-description .section-three-header {
  font-size: 30px;
  font-weight: bold;
  margin: 1em 1em 0 1em;
  color: white;
  border-left: 8px solid #1e93ee;
  padding-left: 15px; }

@media (min-width: 768px) {
  /* line 632, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 4em; } }

@media (min-width: 1000px) {
  /* line 635, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 4em; } }

@media (min-width: 1150px) {
  /* line 638, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 8em; } }

@media (min-width: 1400px) {
  /* line 641, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 12em; } }

@media (min-width: 1600px) {
  /* line 644, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 14em; } }

@media (min-width: 1800px) {
  /* line 647, scss/main.css */
  .section-three .team-description .section-three-header {
    margin: 1em 6em 0 17em; } }

/* line 649, scss/main.css */
.section-three .team-description :nth-child(2) {
  margin: 1em 1em 0 1em;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 35px; }

@media (min-width: 768px) {
  /* line 656, scss/main.css */
  .section-three .team-description :nth-child(2) {
    text-align: justify;
    margin: 4em 4em 0 calc(50% - 8em); } }

@media (min-width: 1000px) {
  /* line 660, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 4em 4em 0 calc(50% - 11em); } }

@media (min-width: 1200px) {
  /* line 663, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 4em 4em 0 calc(50% - 12em); } }

@media (min-width: 1300px) {
  /* line 666, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 4em 4em 0 calc(50% - 10em); } }

@media (min-width: 1400px) {
  /* line 669, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 6em 6em 0 calc(50% - 9em); } }

@media (min-width: 1500px) {
  /* line 672, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 6em 6em 0 calc(50% - 7em); } }

@media (min-width: 1800px) {
  /* line 675, scss/main.css */
  .section-three .team-description :nth-child(2) {
    margin: 6em 6em 0 calc(50% - 5em); } }

/* line 678, scss/main.css */
.section-three .number-of-employees {
  display: none; }

@media (min-width: 768px) {
  /* line 681, scss/main.css */
  .section-three .number-of-employees {
    float: right;
    height: 499px;
    display: inline-block; } }

/* line 685, scss/main.css */
.section-three .number-of-employees p {
  font-size: 25px;
  font-weight: bold;
  margin: 2.2em 2em 0 2.2em;
  line-height: 30px;
  color: #171f3e; }

/* line 692, scss/main.css */
.section-three .consultants-text {
  margin: 0 0 0em 0; }

@media (min-width: 768px) {
  /* line 695, scss/main.css */
  .section-three .consultants-text {
    margin: 31.2em 0 0 0; } }

/* line 697, scss/main.css */
.section-three .consultants-text p {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 1em 1em 0em 1em;
  font-weight: bold; }

@media (min-width: 768px) {
  /* line 705, scss/main.css */
  .section-three .consultants-text p {
    text-align: justify;
    margin: 4em 6em 1.6em 0.5em; } }

/* line 709, scss/main.css */
.section-three .experience-text {
  margin: 0 0 0 0;
  left: 0;
  width: 100%;
  background: #118ded; }

@media (min-width: 768px) {
  /* line 715, scss/main.css */
  .section-three .experience-text {
    width: 81%;
    position: absolute;
    margin: 50.5em 0 0 0;
    height: 220px;
    /* margin: 49.2em 0 0 0; */ } }

/* line 721, scss/main.css */
.section-three .experience-text p {
  font-size: 20px;
  color: white;
  margin: 8em 1em 2em 1em;
  text-align: center; }

@media (min-width: 750px) {
  /* line 727, scss/main.css */
  .section-three .experience-text p {
    text-align: justify;
    margin: 1em 10em 2em 4em; } }

@media (min-width: 1000px) {
  /* line 731, scss/main.css */
  .section-three .experience-text p {
    margin: 3em 11em 2em 5em; } }

@media (min-width: 1200px) {
  /* line 734, scss/main.css */
  .section-three .experience-text p {
    margin: 3em 11em 2em 8em; } }

@media (min-width: 1400px) {
  /* line 737, scss/main.css */
  .section-three .experience-text p {
    margin: 2.5em 10.5em 0 18em; } }

@media (min-width: 1700px) {
  /* line 740, scss/main.css */
  .section-three .experience-text p {
    margin: 2.5em 10.5em 0 32em; } }

/* line 742, scss/main.css */
.section-three .experience-text .defense-shield {
  background-image: url("../photos/session 3/white-shield.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 104px;
  width: 100px;
  float: right;
  margin: -21em calc(50% - 3em) 0 0; }

@media (min-width: 450px) {
  /* line 751, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -16em calc(50% - 4em) 0 0; } }

@media (min-width: 770px) {
  /* line 754, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -11em 3em 0 0; } }

@media (min-width: 800px) {
  /* line 757, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -9em 3em 0 0; } }

@media (min-width: 900px) {
  /* line 760, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -8em 3em 0 0; } }

@media (min-width: 1000px) {
  /* line 763, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -9em 3em 0 0; } }

@media (min-width: 1200px) {
  /* line 766, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -8em 3em 0 0; } }

@media (min-width: 1400px) {
  /* line 769, scss/main.css */
  .section-three .experience-text .defense-shield {
    margin: -6em 3em 0 0; } }

/* line 772, scss/main.css */
.section-three .image-consultants {
  background-image: url("../photos/session 3/bottom-right.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  right: 0;
  width: 100%; }

@media (min-width: 768px) {
  /* line 780, scss/main.css */
  .section-three .image-consultants {
    width: 38%;
    position: absolute;
    margin: 31.2em 0 0 0;
    /* margin: 49.2em 0 0 0; */ } }

/* line 786, scss/main.css */
.section-three .employee-image {
  background-image: url("../photos/session 3/man-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 325px;
  width: 190px;
  bottom: -50px;
  position: relative;
  right: 10px; }

/* line 796, scss/main.css */
.section-three .border-employes {
  height: 1%;
  border-bottom: 2px solid #171f3e;
  float: right;
  position: relative;
  top: 82px; }

@media (min-width: 970px) {
  /* line 803, scss/main.css */
  .section-three .border-employes {
    width: 5%; } }

@media (min-width: 1100px) {
  /* line 806, scss/main.css */
  .section-three .border-employes {
    width: 7%; } }

@media (min-width: 1300px) {
  /* line 809, scss/main.css */
  .section-three .border-employes {
    width: 11%; } }

@media (min-width: 1500px) {
  /* line 812, scss/main.css */
  .section-three .border-employes {
    width: 20%; } }

@media (min-width: 768px) {
  /* line 816, scss/main.css */
  .section-four {
    margin: 15.9em 0 0 0; } }

/* line 819, scss/main.css */
.section-four .number {
  margin: 0px 0px 10px calc(50% - 28px); }

/* line 822, scss/main.css */
.section-four .section-three-header {
  background: #171f3e; }

@media (min-width: 768px) {
  /* line 825, scss/main.css */
  .section-four .section-three-header {
    height: 600px; } }

/* line 827, scss/main.css */
.section-four .section-three-header p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-left: 8px solid #1e93ee;
  padding-left: 15px;
  margin: 1.8em calc(50% - 95px);
  letter-spacing: 1px; }

/* line 835, scss/main.css */
.section-four .section-three-header .mac-photo {
  display: none; }

@media (min-width: 1100px) {
  /* line 838, scss/main.css */
  .section-four .section-three-header .mac-photo {
    display: inline-block;
    background-image: url("../photos/session 4/MacBook.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    width: 479px;
    margin: 252px 15px 8px 43px; } }

/* line 847, scss/main.css */
.section-four .lists .list-one,
.section-four .lists .list-two {
  margin: 0em 0 0 0.5em;
  font-size: 18px;
  line-height: 26px; }

@media (min-width: 768px) {
  /* line 853, scss/main.css */
  .section-four .lists .list-one,
  .section-four .lists .list-two {
    font-size: 22px;
    line-height: 26px;
    margin: 3em 0 0 4em; } }

@media (min-width: 1100px) {
  /* line 859, scss/main.css */
  .section-four .lists .list-one,
  .section-four .lists .list-two {
    margin: 3em 0 0 10.4em; } }

/* line 863, scss/main.css */
.section-four .lists .list-two {
  margin: -1em 0 0 0.5em; }

@media (min-width: 768px) {
  /* line 866, scss/main.css */
  .section-four .lists .list-two {
    margin: 3em 0 0 0em; } }

/* line 869, scss/main.css */
.section-four .lists ul li {
  color: #118ded; }

/* line 871, scss/main.css */
.section-four .lists ul li span {
  color: #171f3e; }

/* line 874, scss/main.css */
.section-four .references {
  display: none; }

@media (min-width: 1100px) {
  /* line 877, scss/main.css */
  .section-four .references {
    margin: 4.5em 0 0 0;
    display: inline-block;
    float: right;
    border-right: 8px solid #1a2240;
    border-left: 8px solid #1a2240; } }

@media (min-width: 1200px) {
  /* line 884, scss/main.css */
  .section-four .references {
    margin: 0; } }

/* line 886, scss/main.css */
.section-four .references .logo {
  margin: calc(50% - 450px) calc(50% - 380px);
  color: #a7a8b0; }

/* line 889, scss/main.css */
.section-four .references .comp-text {
  float: right;
  margin: -10em 5em 0 25em;
  text-align: justify;
  font-style: italic;
  color: #a7a8b0; }

/* line 895, scss/main.css */
.section-four .references .comp-more {
  float: right;
  margin: 1.5em 5em 0 0;
  font-weight: bold;
  color: #1a2240; }

/* line 900, scss/main.css */
.section-four .references .comp-more:hover {
  color: #1e93ee;
  cursor: pointer;
  transition: 500ms; }

/* line 904, scss/main.css */
.section-four .references .visible {
  display: inline-block; }

/* line 907, scss/main.css */
.section-four .left-slider-btn,
.section-four .right-slider-btn {
  display: none; }

@media (min-width: 1100px) {
  /* line 911, scss/main.css */
  .section-four .left-slider-btn,
  .section-four .right-slider-btn {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 100%;
    color: #e0e0e0;
    display: inline-block;
    float: left;
    margin: 3em 0 0 calc(50% + 16em);
    font-size: 25px; } }

/* line 924, scss/main.css */
.section-four .left-slider-btn p,
.section-four .right-slider-btn p {
  color: #e0e0e0;
  padding: calc(50% - 20px) calc(50% - 8px); }

/* line 929, scss/main.css */
.section-four .right-slider-btn {
  margin: -40px 0 0 calc(50% + 18em); }

/* line 932, scss/main.css */
.section-four .left-slider-btn:hover,
.section-four .right-slider-btn:hover {
  cursor: pointer;
  border: 2px solid #118ded; }

/* line 936, scss/main.css */
.section-four .left-slider-btn:hover p,
.section-four .right-slider-btn:hover p {
  color: #118ded; }

/* line 940, scss/main.css */
.section-five .section-number {
  display: none;
  margin: 3.8em 0 0 0; }

@media (min-width: 768px) {
  /* line 944, scss/main.css */
  .section-five .section-number {
    display: inline-block; } }

/* line 946, scss/main.css */
.section-five .section-number .number {
  margin: 0px 0px 10px calc(50% - 28px); }

/* line 949, scss/main.css */
.section-five .management-header p {
  font-size: 30px;
  font-weight: bold;
  margin: 1em 0 0 0.5em;
  border-left: 8px solid #1e93ee;
  padding-left: 30px; }

@media (min-width: 768px) {
  /* line 956, scss/main.css */
  .section-five .management-header p {
    margin: 4em 0 0 0.5em; } }

/* line 959, scss/main.css */
.section-five .management {
  float: right;
  list-style-type: none;
  margin-right: 40px;
  margin-top: 52px; }

/* line 964, scss/main.css */
.section-five .management li {
  display: inline-block;
  margin: 0 calc(50% - 3.2em); }

@media (min-width: 340px) {
  /* line 968, scss/main.css */
  .section-five .management li {
    margin: 0 calc(50% - 3.5em); } }

@media (min-width: 450px) {
  /* line 971, scss/main.css */
  .section-five .management li {
    margin: 0 10px 0 0; } }

/* line 973, scss/main.css */
.section-five .management li ul {
  list-style-type: none; }

/* line 975, scss/main.css */
.section-five .management li ul li {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
  color: #171f3e; }

/* line 981, scss/main.css */
.section-five .management li ul :last-child {
  font-size: 18px;
  font-size: 20px;
  font-weight: normal;
  margin-top: -4px; }

/* line 987, scss/main.css */
.section-five .management-first-image {
  background-image: url("../photos/session 5/top-one-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px; }

/* line 994, scss/main.css */
.section-five .management-second-image {
  background-image: url("../photos/session 5/top-two-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px; }

/* line 1001, scss/main.css */
.section-five .management-third-image {
  background-image: url("../photos/session 5/top-three-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px; }

/* line 1008, scss/main.css */
.section-five .management-fourth-image {
  background-image: url("../photos/session 5/top-four-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px; }

/* line 1015, scss/main.css */
.section-five .managment-desc-one,
.section-five .managment-desc-two {
  float: right; }

/* line 1019, scss/main.css */
.section-five .managment-desc-one {
  background-image: url("../photos/session 5/bottom-right-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 490px; }

/* line 1025, scss/main.css */
.section-five .managment-desc-two {
  background-image: url("../photos/session 5/bottom-left-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 490px; }

/* line 1030, scss/main.css */
.section-five .managment-desc-two :first-child {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin: 4em 0 0 0em;
  text-align: center; }

@media (min-width: 768px) {
  /* line 1037, scss/main.css */
  .section-five .managment-desc-two :first-child {
    margin: 4em 0 0 1em;
    text-align: justify; } }

/* line 1040, scss/main.css */
.section-five .managment-desc-two :nth-child(2),
.section-five .managment-desc-two :nth-child(3) {
  color: white;
  margin: 1em 1em 0 1em;
  font-size: 20px;
  text-align: center; }

@media (min-width: 768px) {
  /* line 1047, scss/main.css */
  .section-five .managment-desc-two :nth-child(2),
  .section-five .managment-desc-two :nth-child(3) {
    text-align: justify;
    margin: 1em 10em 0 1em; } }

/* line 1051, scss/main.css */
.section-five .managment-desc-two :nth-child(3) {
  margin: 1em 1em 0 1em; }

@media (min-width: 768px) {
  /* line 1054, scss/main.css */
  .section-five .managment-desc-two :nth-child(3) {
    margin: 1em 10em 0 1em; } }

/* line 1056, scss/main.css */
.section-five .managment-desc-two :nth-child(4) {
  color: white;
  margin: 9em 4.5em 0 0;
  float: right;
  font-weight: bold; }

/* line 1061, scss/main.css */
.section-five .managment-desc-two .play-btn {
  border: 3px solid #1e93ee;
  width: 30px;
  height: 30px;
  border-radius: 48px;
  margin: 8.7em -7em 0 0;
  float: right; }

/* line 1068, scss/main.css */
.section-five .managment-desc-two .play-btn i {
  margin: 4px 0 0 calc(50% - 7px);
  transform: scale(0.5, 0.5);
  color: #1e93ee; }

/* line 1073, scss/main.css */
.section-five .top-photo-border {
  display: none;
  height: 26em;
  width: 2px;
  background: #118ded;
  float: right;
  position: relative;
  margin: -44.5em 2em 0 0; }

@media (min-width: 1000px) {
  /* line 1082, scss/main.css */
  .section-five .top-photo-border {
    display: inline-block; } }

@media (min-width: 1200px) {
  /* line 1085, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 5em 0 0; } }

@media (min-width: 1300px) {
  /* line 1088, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 8em 0 0; } }

@media (min-width: 1400px) {
  /* line 1091, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 11em 0 0; } }

@media (min-width: 1500px) {
  /* line 1094, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 14em 0 0; } }

@media (min-width: 1600px) {
  /* line 1097, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 18em 0 0; } }

@media (min-width: 1800px) {
  /* line 1100, scss/main.css */
  .section-five .top-photo-border {
    margin: -44.5em 26em 0 0; } }

/* line 1103, scss/main.css */
.section-five .left-photo-border {
  height: 2px;
  width: 29%;
  background: #118ded;
  float: left;
  position: relative;
  margin: -26.5em 0 0 0em; }

/* line 1111, scss/main.css */
.section-six .section-numbers {
  margin: -3.3em 0 0 0; }

/* line 1113, scss/main.css */
.section-six .section-numbers .number {
  margin: 0px 0px 10px calc(50% - 28px); }

/* line 1116, scss/main.css */
.section-six .section-six-bg {
  background: #1a2240;
  width: 100%;
  height: 540px;
  position: absolute;
  z-index: -1; }

@media (min-width: 768px) {
  /* line 1123, scss/main.css */
  .section-six .section-six-bg {
    width: 65%; } }

/* line 1126, scss/main.css */
.section-six .section-six-job-photo {
  background-image: url("../photos/session 6/apliccation-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 110px;
  position: relative;
  height: 430px; }

/* line 1133, scss/main.css */
.section-six .section-six-job-photo h2 {
  font-size: 35px;
  color: white;
  margin: 6.5em 0 0 0em;
  text-align: center; }

@media (min-width: 768px) {
  /* line 1139, scss/main.css */
  .section-six .section-six-job-photo h2 {
    text-align: start;
    margin: 7.5em 0 0 2em; } }

/* line 1142, scss/main.css */
.section-six .section-six-job-photo p {
  text-align: center;
  margin: 0.9em 0 0 0em;
  font-size: 22px;
  color: white; }

@media (min-width: 768px) {
  /* line 1148, scss/main.css */
  .section-six .section-six-job-photo p {
    text-align: start;
    margin: 0.9em 0 0 3.3em; } }

/* line 1152, scss/main.css */
.section-six .section-six-header :first-child {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 0.9em 0 0 0.6em;
  border-left: 8px solid #1e93ee;
  padding-left: 1em; }

/* line 1160, scss/main.css */
.section-six .section-six-header :nth-child(2) {
  color: #1e93ee;
  font-size: 26px;
  margin: 5em 0 0 -0.5em;
  text-align: center; }

@media (min-width: 768px) {
  /* line 1166, scss/main.css */
  .section-six .section-six-header :nth-child(2) {
    text-align: justify; } }

/* line 1169, scss/main.css */
.section-six .section-six-header :last-child {
  color: white;
  font-size: 22px;
  margin: 1em 0 0 -0.5em;
  text-align: center; }

@media (min-width: 768px) {
  /* line 1175, scss/main.css */
  .section-six .section-six-header :last-child {
    text-align: justify; } }

/* line 1178, scss/main.css */
.section-six .tight-stripe {
  height: 10px;
  background: #1e93ee;
  margin: 6.9em 0 0 0;
  width: 49%;
  float: right; }

/* line 1185, scss/main.css */
.section-six .s7-down-arrow {
  display: none; }

@media (min-width: 768px) {
  /* line 1188, scss/main.css */
  .section-six .s7-down-arrow {
    display: inline-block;
    border-right: 2px solid #1e93ee;
    width: 2%;
    height: 385px;
    margin-left: calc(50% - 190px);
    display: inline-block;
    margin-top: 25px;
    margin-bottom: -17px; } }

/* line 1198, scss/main.css */
.section-six .requirements {
  display: inline-block;
  bottom: 6em;
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold; }

@media (min-width: 768px) {
  /* line 1206, scss/main.css */
  .section-six .requirements {
    bottom: 20em; } }

/* line 1209, scss/main.css */
.section-six .requirements-list {
  display: inline-block;
  top: 2em;
  position: relative;
  left: -70px; }

@media (min-width: 768px) {
  /* line 1215, scss/main.css */
  .section-six .requirements-list {
    top: -13em; } }

/* line 1217, scss/main.css */
.section-six .requirements-list li {
  color: #1e93ee; }

/* line 1219, scss/main.css */
.section-six .requirements-list li span {
  color: #1a2240; }

/* line 1222, scss/main.css */
.section-six .require-left-slider-btn,
.section-six .require-right-slider-btn {
  text-align: center;
  width: 40px;
  height: 40px;
  border: 2px solid #e0e0e0;
  border-radius: 100%;
  color: #e0e0e0;
  display: inline-block;
  float: left;
  margin: 1em 0 0 calc(50% + 2em);
  font-size: 25px; }

@media (min-width: 768px) {
  /* line 1235, scss/main.css */
  .section-six .require-left-slider-btn,
  .section-six .require-right-slider-btn {
    margin: 2em 0 0 calc(50% + 2em); } }

/* line 1238, scss/main.css */
.section-six .require-left-slider-btn p,
.section-six .require-right-slider-btn p {
  color: #e0e0e0;
  padding: calc(50% - 20px) calc(50% - 8px); }

/* line 1243, scss/main.css */
.section-six .require-right-slider-btn {
  margin: -1.55em 0 0 calc(50% + 5em); }

@media (min-width: 768px) {
  /* line 1246, scss/main.css */
  .section-six .require-right-slider-btn {
    margin: -1.6em 0 0 calc(50% + 4em); } }

/* line 1249, scss/main.css */
.section-six .require-left-slider-btn:hover,
.section-six .require-right-slider-btn:hover {
  cursor: pointer;
  border: 2px solid #118ded; }

/* line 1253, scss/main.css */
.section-six .require-left-slider-btn:hover p,
.section-six .require-right-slider-btn:hover p {
  color: #118ded; }

/* line 1257, scss/main.css */
.section-six .aplication-btn {
  width: 325px;
  height: 40px;
  border: 1px solid #1a2240;
  background: none;
  margin: 1em 0em 1em 0.5em;
  color: #1a2240;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px; }

@media (min-width: 768px) {
  /* line 1268, scss/main.css */
  .section-six .aplication-btn {
    margin: 11em 0em 0 -3em; } }

/* line 1271, scss/main.css */
.section-six .aplication-btn:hover {
  color: white;
  background: #1a2240;
  transition: 500ms;
  transform: scale(1.2, 1.2); }

/* line 1277, scss/main.css */
.section-seven {
  background: #1a2240; }

/* line 1279, scss/main.css */
.section-seven .section-numbers {
  display: none; }

@media (min-width: 768px) {
  /* line 1282, scss/main.css */
  .section-seven .section-numbers {
    display: inline-block; } }

/* line 1284, scss/main.css */
.section-seven .number {
  margin: 0px 0px 10px calc(50% - 28px); }

/* line 1286, scss/main.css */
.section-seven .s7-bg {
  background-image: url("../photos/session 7/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  border-left: 1px solid #1e93ee; }

@media (min-width: 768px) {
  /* line 1293, scss/main.css */
  .section-seven .s7-bg {
    height: 899px;
    position: absolute; } }

/* line 1296, scss/main.css */
.section-seven .form-bg {
  background: white;
  width: 340px;
  height: 498px; }

@media (min-width: 768px) {
  /* line 1301, scss/main.css */
  .section-seven .form-bg {
    width: 410px;
    margin: 9em 0 0 3em; } }

/* line 1304, scss/main.css */
.section-seven .form-bg form :first-child,
.section-seven .form-bg form input,
.section-seven .form-bg form textarea {
  width: 24.5em;
  height: 3em;
  margin-top: 3em;
  margin-left: calc(50% - 163px);
  border: 2px solid #cecece;
  padding-left: 5px;
  color: #1e93ee; }

@media (min-width: 768px) {
  /* line 1315, scss/main.css */
  .section-seven .form-bg form :first-child,
  .section-seven .form-bg form input,
  .section-seven .form-bg form textarea {
    width: 25.5em;
    margin-left: calc(50% - 170px); } }

/* line 1320, scss/main.css */
.section-seven .form-bg form input {
  margin-top: 0em; }

/* line 1322, scss/main.css */
.section-seven .form-bg form textarea {
  margin-top: 0em;
  height: 13em; }

/* line 1325, scss/main.css */
.section-seven .form-bg form label {
  float: left;
  display: inline-block;
  margin: 5px 0px 5px 0;
  font-size: 12px;
  color: red;
  height: 20px;
  width: 340px;
  font-weight: bold; }

@media (min-width: 768px) {
  /* line 1335, scss/main.css */
  .section-seven .form-bg form label {
    margin: 5px 0px 5px 35px; } }

/* line 1337, scss/main.css */
.section-seven .form-bg form .border-input {
  border: 2px solid #1e93ee; }

/* line 1339, scss/main.css */
.section-seven .form-bg .send-btn {
  width: 200px;
  height: 50px;
  background: #1e93ee;
  border: none;
  float: right;
  margin: 1.2em 2em 0 0;
  color: white; }

/* line 1347, scss/main.css */
.section-seven .form-bg .send-btn:hover {
  transform: scale(1.2, 1.2);
  transition: 500ms;
  cursor: pointer; }

/* line 1351, scss/main.css */
.section-seven .contact {
  border-bottom: 1px solid #1e93ee; }

/* line 1353, scss/main.css */
.section-seven .contact :first-child {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 0.3em 0 0 0;
  border-left: 8px solid #1e93ee;
  padding-left: 1em; }

@media (min-width: 768px) {
  /* line 1361, scss/main.css */
  .section-seven .contact :first-child {
    margin: 3.3em 0 0 0; } }

/* line 1363, scss/main.css */
.section-seven .contact :nth-child(2) {
  color: #66ceeb;
  font-weight: bold;
  font-size: 20px;
  margin: 2em 0 2em 0; }

@media (min-width: 768px) {
  /* line 1369, scss/main.css */
  .section-seven .contact :nth-child(2) {
    margin: 7em 0 0 0; } }

/* line 1371, scss/main.css */
.section-seven .contact :nth-child(3),
.section-seven .contact :nth-child(4) {
  color: white; }

/* line 1374, scss/main.css */
.section-seven .contact :nth-child(4) {
  margin: 0 0 1em 0; }

/* line 1376, scss/main.css */
.section-seven .contact :nth-child(5),
.section-seven .contact :nth-child(6) {
  color: white; }

/* line 1379, scss/main.css */
.section-seven .contact :nth-child(6) {
  margin-bottom: 2.5em; }

@media (min-width: 768px) {
  /* line 1382, scss/main.css */
  .section-seven .contact :nth-child(6) {
    margin-bottom: 11.5em; } }

/* line 1384, scss/main.css */
.section-seven .s7-logo {
  font-size: 40px;
  color: #66ceeb;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0em 0 1.5em 0; }

@media (min-width: 768px) {
  /* line 1391, scss/main.css */
  .section-seven .s7-logo {
    margin: 3em 0 1.5em 0; } }

/* line 1394, scss/main.css */
footer {
  height: 50px;
  position: absolute;
  width: 100%;
  background: #1a2240;
  opacity: 1;
  border-top: 1px solid #1e93ee; }

/* line 1402, scss/main.css */
.footer-border {
  border-left: 1px solid #1e93ee; }

/* line 1404, scss/main.css */
.footer-border p {
  color: #5d6171;
  text-align: center;
  margin: -15px 0 0px 0px; }

@media (min-width: 768px) {
  /* line 1409, scss/main.css */
  .footer-border p {
    margin: 2px 0 6px 0px; } }
