.section-five {
    .section-number {
        display: none;
        @media(min-width: 768px) {
            display: inline-block;
        }
        margin: 3.8em 0 0 0;
        .number {
            margin: 0px 0px 10px calc(50% - 28px);
        }
    }
    .management-header {
        p {
            font-size: 30px;
            font-weight: bold;
            margin: 1em 0 0 0.5em;
            border-left: 8px solid #1e93ee;
            padding-left: 30px;
            @media(min-width: 768px) {
                margin: 4em 0 0 0.5em;
            }
        }
    }
    .management {
        float: right;
        list-style-type: none;
        margin-right: 40px;
        margin-top: 52px;
        li {
            display: inline-block;
            margin: 0 calc(50% - 3.2em);
            @media(min-width: 340px) {
                margin: 0 calc(50% - 3.5em);
            }
            @media(min-width: 450px) {
                margin: 0 10px 0 0;
            }
            ul {
                list-style-type: none;
                li {
                    display: block;
                    font-size: 22px;
                    font-weight: bold;
                    margin-top: 8px;
                    color: #171f3e;
                }
                 :last-child {
                    font-size: 18px;
                    font-size: 20px;
                    font-weight: normal;
                    margin-top: -4px;
                }
            }
        }
    }
    .management-first-image {
        background-image: url('../photos/session 5/top-one-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
    }
    .management-second-image {
        background-image: url('../photos/session 5/top-two-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
    }
    .management-third-image {
        background-image: url('../photos/session 5/top-three-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
    }
    .management-fourth-image {
        background-image: url('../photos/session 5/top-four-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
    }
    .managment-desc-one,
    .managment-desc-two {
        float: right;
    }
    .managment-desc-one {
        background-image: url('../photos/session 5/bottom-right-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 490px;
    }
    .managment-desc-two {
        background-image: url('../photos/session 5/bottom-left-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 490px;
         :first-child {
            color: white;
            font-weight: bold;
            font-size: 22px;
            margin: 4em 0 0 0em;
            text-align: center;
            @media(min-width: 768px) {
                margin: 4em 0 0 1em;
                text-align: justify;
            }
        }
         :nth-child(2),
         :nth-child(3) {
            color: white;
            margin: 1em 1em 0 1em;
            font-size: 20px;
            text-align: center;
            @media(min-width: 768px) {
                text-align: justify;
                margin: 1em 10em 0 1em;
            }
        }
         :nth-child(3) {
            margin: 1em 1em 0 1em;
            @media(min-width: 768px) {
                margin: 1em 10em 0 1em;
            }
        }
         :nth-child(4) {
            color: white;
            margin: 9em 4.5em 0 0;
            float: right;
            font-weight: bold;
        }
        .play-btn {
            border: 3px solid #1e93ee;
            width: 30px;
            height: 30px;
            border-radius: 48px;
            margin: 8.7em -7em 0 0;
            float: right;
            i {
                margin: 4px 0 0 calc(50% - 7px);
                transform: scale(0.5, 0.5);
                color: #1e93ee;
            }
        }
    }
    .top-photo-border {
        display: none;
        @media(min-width: 1000px) {
            display: inline-block;
        }
        height: 26em;
        width: 2px;
        background: #118ded;
        float: right;
        position: relative;
        margin: -44.5em 2em 0 0;
        @media(min-width: 1200px) {
            margin: -44.5em 5em 0 0;
        }
        @media(min-width: 1300px) {
            margin: -44.5em 8em 0 0;
        }
        @media(min-width: 1400px) {
            margin: -44.5em 11em 0 0;
        }
        @media(min-width: 1500px) {
            margin: -44.5em 14em 0 0;
        }
        @media(min-width: 1600px) {
            margin: -44.5em 18em 0 0;
        }
        @media(min-width: 1800px) {
            margin: -44.5em 26em 0 0;
        }
    }
    .left-photo-border {
        height: 2px;
        width: 29%;
        background: #118ded;
        float: left;
        position: relative;
        margin: -26.5em 0 0 0em;
    }
}
